#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------------------------------------
# Install VSCode Themes
# DraculaPro hash: {{ include "../../../../.config/vscode/dracula-pro.vsix" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------

if command -v code; then
  code --install-extension "{{ .paths.config }}/vscode/dracula-pro.vsix"
fi
