#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------------------------------------
# Install mise packages
# mise/config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------

if command -v mise; then
  mise install -y
fi
