[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  diffc = diff --cached
  undo = checkout --
  mrg = merge --no-ff --log
  # with staged files without editing the commit message.
  oops = commit --amend --no-edit
  # Edit last commit message
  reword = commit --amend
  # Undo last commit but keep changed files in stage
  uncommit = reset --soft HEAD~1
  lsd = log --graph --decorate --abbrev-commit --pretty=oneline --all
  lg = lg1
  lg1 = lg1-specific --all
  lg2 = lg2-specific --all
  lg3 = lg3-specific --all
  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[color]
  ui = auto

[push]
  default = current

[core]
  excludesfile = {{ .chezmoi.homeDir }}/.config/git/gitignore_global
  autocrlf = input
{{- if eq .chezmoi.os "darwin" }}
  editor = nvim
{{- end }}

[fetch]
  prune = true

{{ if eq .chezmoi.os "darwin" }}
[credential]
  helper = osxkeychain
{{- end }}

[pull]
  rebase = true

[init]
  defaultBranch = main

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[rebase]
  autoStash = true

[gpg]
  format = ssh

{{ if eq .chezmoi.os "darwin" -}}
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}

[commit]
{{- if eq .chezmoi.os "darwin" }}
  gpgsign = true
{{- end }}
{{- if (eq .chezmoi.os "linux") }}
  gpgsign = false
{{- end }}

[include]
  path = {{ .chezmoi.homeDir }}/.config/git/personal
