[include]
  path = alias

[color]
  ui = auto

[core]
  autocrlf = input
  editor = nvim
  pager = delta
  excludesfile = {{ .paths.config }}/git/ignore

{{ if (eq .chezmoi.os "darwin") }}
[credential]
  helper = osxkeychain
{{ end }}

[delta]
  features = decorations
  light = false
  navigate = true
  side-by-side = true

[diff]
  colorMoved = default

[diff "sopsdiffer"]
  textconv = sops decrypt

[fetch]
  prune = true

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[pager]
  branch = false

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[rebase]
  autoStash = true

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers

[user]
  email = {{ .user.email }}
  name = {{ .user.name }}
  signingkey = {{ .user.signingKey }}
