#!{{ lookPath "bash" }}

if [ ! "$(command -v brew)" ]; then
  echo "Installing brew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --file {{ .chezmoi.sourceDir }}/dot_config/Brewfile
