# ████████╗███╗   ███╗██╗   ██╗██╗  ██╗
# ╚══██╔══╝████╗ ████║██║   ██║╚██╗██╔╝
#    ██║   ██╔████╔██║██║   ██║ ╚███╔╝
#    ██║   ██║╚██╔╝██║██║   ██║ ██╔██╗
#    ██║   ██║ ╚═╝ ██║╚██████╔╝██╔╝ ██╗
#    ╚═╝   ╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═╝
# Terminal multiplexer
# https://github.com/tmux/tmux

# Switch tmux key to C-t
unbind C-b
set -g prefix C-t
bind-key C-t send-prefix

set -g default-terminal "screen-256color"

set -g mouse on                 # enable mouse support
set -g base-index 1             # start indexing windows at 1 instead of 0
setw -g pane-base-index 1       # make pane numbering consistent with windows
set -g detach-on-destroy off    # don't exit from tmux when closing a session
set -g escape-time 0            # zero-out escape time delay
set -g history-limit 1000000    # increase history size (from 2,000)
set -g renumber-windows on      # renumber all windows when any window is closed
set -g set-clipboard on         # use system clipboard
set -g status-interval 2        # update the status bar every 2 seconds
setw -g automatic-rename on     # rename window to reflect current program
set -g set-titles on            # set terminal title
set -g display-panes-time 800   # slightly longer pane indicators display time
set -g display-time 1000        # slightly longer status messages display time
set -g allow-passthrough on     # allow programs to bypass tmux

set-option -g focus-events on   # pass through focus events
set-option -g display-time 3000 # display time for popup messages

# activity
set -g monitor-activity on
set -g visual-activity off

# Status line formatting
set -g status-position top
set -g status-style 'bg=#333333'
set -g status-left " #[fg=blue]#{session_name} #[fg=white,nobold]#(gitmux -cfg {{ .chezmoi.homeDir }}/.config/tmux/gitmux.conf \"#{pane_current_path}\") "
set -g status-left-length 100
set -g status-right "#{?window_bigger,[#{window_offset_x}#,#{window_offset_y}] ,}#{=21:pane_title} "

set -g message-command-style bg=default,fg=yellow
set -g message-style bg=default,fg=yellow
set -g mode-style bg=default,fg=yellow
set -g pane-active-border-style 'fg=magenta,bg=default'
set -g pane-border-style 'fg=brightblack,bg=default'

# Change window split keys
unbind %
bind | split-window -c '#{pane_current_path}' -h
unbind '"'
bind - split-window -c '#{pane_current_path}' -v

unbind r
bind r source-file ~/.config/tmux/tmux.conf \; display "Config reloaded"

bind -r m resize-pane -Z  # Toggle maximize current pane

unbind c
bind c new-window -c '#{pane_current_path}'
bind g new-window -n 'LazyGit' lazygit

# Vi mode in tmux
set-window-option -g mode-keys vi
bind-key -T copy-mode-vi 'v' send -X begin-selection # start selecting text with "v"
bind-key -T copy-mode-vi 'y' send -X copy-selection  # copy text with "y"
unbind -T copy-mode-vi MouseDragEnd1Pane # don't exit copy mode when dragging with mouse

# Send keys to terminal
bind C-l send-keys 'C-l'

# Shift arrow to switch windows
bind -n S-Left  previous-window
bind -n S-Right next-window

# Session management
bind X confirm-before -p "kill-session #S (y/n)" kill-session

bind-key "t" run-shell "sesh connect \"$(
  sesh list --icons | fzf-tmux -p 80%,70% \
    --no-sort --ansi --border-label ' sesh ' --prompt '⚡  ' \
    --header '  ^a all ^t tmux ^g configs ^x zoxide ^d tmux kill ^f find' \
    --bind 'tab:down,btab:up' \
    --bind 'ctrl-a:change-prompt(⚡  )+reload(sesh list --icons)' \
    --bind 'ctrl-t:change-prompt(🪟  )+reload(sesh list -t --icons)' \
    --bind 'ctrl-g:change-prompt(⚙️  )+reload(sesh list -c --icons)' \
    --bind 'ctrl-x:change-prompt(📁  )+reload(sesh list -z --icons)' \
    --bind 'ctrl-f:change-prompt(🔎  )+reload(fd -H -d 2 -t d -E .Trash . ~)' \
    --bind 'ctrl-d:execute(tmux kill-session -t {2..})+change-prompt(⚡  )+reload(sesh list --icons)' \
    --margin 8% \
    --preview-window 'right:55%' \
    --preview 'sesh preview {}'
)\""

# Plugins
set -g @plugin 'christoomey/vim-tmux-navigator'

# Load and run tpm
set -g @plugin 'tmux-plugins/tpm'
run "/opt/homebrew/opt/tpm/share/tpm/tpm"
