"$schema" = 'https://jj-vcs.github.io/jj/prerelease/config-schema.json'

[user]
name = '{{ .user.name }}'
email = '{{ .user.email }}'

[ui]
default-command = 'log'
diff-formatter = ':git'
editor = 'nvim'
pager = ['delta', '--pager', 'less -FRX']
graph.style = 'square'

[merge-tools.delta]
diff-expected-exit-codes = [0, 1]

[git]
sign-on-push = true
track-default-bookmark-on-clone = true

[revset-aliases]
'wip' = 'description(regex:'#trunk')'
'git_head_children' = 'git_head()+ ~ trunk()'
'review' = 'bookmarks(regex:"^sz/") ~ children(bookmarks(regex:"^sz/"))'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'
"private()" = 'immutable_heads().. & description(regex:"(?i)^(private|wip)(\n*$|:)")'

[aliases]
b = ['bookmark']
d = ['diff']
gp = ['git', 'push']
gpa = ['git', 'push', '--allow-new']
gpc = ['git', 'push', '--change']
l = ['log', '-r', 'ancestors(reachable(@, mutable()), 2)']
ll = ['log', '-T', 'builtin_log_detailed']
lla = ['log', '-T', 'builtin_log_detailed', '-r', '::@']
la = ['log', '-r', '::@']
s = ['show']
# Source: https://shaddy.dev/notes/jj-tug/
tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_pushable(@)"]
# Go to the previous commit in the chain
p = ['edit', '-r', '@-']
# Go to the next commit in the chain
n = ['edit', '-r', '@+']
newt = ['new', 'trunk()']
rt   = ['rebase', '-o', 'trunk()']
rtc  = ['rt', '-s', '@']
sync = ['util', 'exec', '--', 'fish', '-c', """
if test -d (jj workspace root)/.git
  git switch (jj closestbookmark)
end
""", '']
closestbookmark = ['util', 'exec', '--', 'fish', '-c', """
jj log --no-graph -r 'closest_bookmark(@)' -T 'stringify(local_bookmarks.map(|b| b.name()).join("\n")).first_line()++"\n"'
""", '']
ppcheck = ["util", "exec", "--", "uvx", "jj-pre-push", "check"]
pppush = ["util", "exec", "--", "uvx", "jj-pre-push", "push"]
fetch = ["util", "exec", "--", "jj-tools", "fetch"]
pr = ["util", "exec", "--", "jj-tools", "pr"]

[signing]
backend = 'ssh'
key = '{{ .user.signingKey }}'
backends.ssh.allowed-signers = '{{ .chezmoi.homeDir }}/.ssh/allowed_signers'

[templates]
git_push_bookmark = '"sz/push-" ++ change_id.short()'
log_node = '''
if(self && !current_working_copy && !immutable && !conflict && in_branch(self),
  "◇",
  builtin_log_node
)
'''

[template-aliases]
'format_timestamp(timestamp)' = 'timestamp.ago()'
'format_short_signature(signature)' = 'signature.email().local()'
'in_branch(commit)' = 'commit.contained_in("immutable_heads()..bookmarks()")'
