"$schema" = 'https://jj-vcs.github.io/jj/prerelease/config-schema.json'

[user]
name = "Scotte Zinn"
email = "scotte@zinn.ca"

[ui]
default-command = "log"
diff.format = "git"
editor = "nvim"
pager = ["delta", "--pager", "less -FRX"]

[merge-tools.delta]
diff-expected-exit-codes = [0, 1]

[git]
sign-on-push = true

[aliases]
b = ["bookmark"]
bm = ["bookmark", "move", "--to", "@-"]
d = ["diff"]
gp = ["git", "push"]
gpa = ["git", "push", "--allow-new"]
gpc = ["git", "push", "--change"]
l = ["log", "-r", "ancestors(reachable(@, mutable()), 2)"]
ll = ["log", "-T", "builtin_log_detailed"]
la = ["log", "-r", "::@"]
nt = ["new", "trunk()"]
rebase-all = ["rebase", "-s", "all:roots(trunk()..mutable())", "-d", "trunk()"]
s = ["show"]

[signing]
# backend = "gpg"
# key = "B2F1677DB0348B42"
# backends.gpg.allow-expired-keys = false
backend = "ssh"
key = '{{ onepasswordRead "op://Private/SSH Key/public key" }}'
backends.ssh.allowed-signers = "{{ .chezmoi.homeDir }}/.ssh/allowed_signers"

[template-aliases]
'format_timestamp(timestamp)' = 'timestamp.ago()'
'format_short_signature(signature)' = 'signature.email().local()'
