# ".config/fish/functions/fisher.fish":
#   url: "https://raw.githubusercontent.com/jorgebucaran/fisher/HEAD/functions/fisher.fish"
#   type: file
#   refreshPeriod: 168h

{{ if (eq .chezmoi.os "darwin") -}}

".local/bin/talhelper":
  url: "https://github.com/budimanjojo/talhelper/releases/download/v1.6.1/talhelper_darwin_arm64.tar.gz"
  type: file
  executable: true
  refreshPeriod: 168h
  filter:
    command: tar
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "talhelper"]

".local/bin/talosctl":
  url: "https://github.com/siderolabs/talos/releases/download/v1.3.5/talosctl-darwin-arm64"
  type: file
  executable: true
  refreshPeriod: 168h

".local/bin/krew":
  url: "https://github.com/kubernetes-sigs/krew/releases/download/v0.4.3/krew-darwin_arm64.tar.gz"
  type: file
  executable: true
  refreshPeriod: 168h
  filter:
    command: tar
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "krew-darwin_arm64"]

".local/bin/tesla_auth":
  url: "https://github.com/adriankumpf/tesla_auth/releases/download/v0.6.2/tesla-auth-macos.tar.gz"
  type: file
  executable: true
  refreshPeriod: 168h
  filter:
    command: tar
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "tesla_auth"]

".local/bin/kubectl-cnpg":
  url: "https://github.com/cloudnative-pg/cloudnative-pg/releases/download/v1.19.0/kubectl-cnpg_1.19.0_darwin_arm64.tar.gz"
  type: file
  executable: true
  refreshPeriod: 168h
  filter:
    command: tar
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "kubectl-cnpg"]

"Library/Fonts/FiraCodeNerd":
  url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v2.3.3/FiraCode.zip"
  type: archive
  exact: true
  refreshPeriod: 168h

"Library/Fonts/JetBrainsMono":
  url: "https://github.com/JetBrains/JetBrainsMono/releases/download/v2.304/JetBrainsMono-2.304.zip"
  type: archive
  # exact: true
  refreshPeriod: 168h

"Library/Application Support/Alfred/Alfred.alfredpreferences/workflows/1Password":
  url: "https://github.com/alfredapp/1password-workflow/releases/download/2023.3/1Password.alfredworkflow"
  type: archive
  exact: true
  refreshPeriod: 168h

"Library/Application Support/Alfred/Alfred.alfredpreferences/workflows/Search DEVONthink":
  url: "https://github.com/mpco/AlfredWorkflow-DEVONthink-Search/releases/download/7.6/DEVONthink.Search.alfredworkflow"
  type: archive
  exact: true
  refreshPeriod: 168h

"Library/Application Support/Alfred/Alfred.alfredpreferences/workflows/Search OmniFocus":
  url: "https://github.com/rhydlewis/search-omnifocus/releases/download/v2.1.3/Search.OmniFocus.v2.1.3.alfredworkflow"
  type: archive
  exact: true
  refreshPeriod: 168h

{{ end }}
