---
{{- $homeMachine := promptBoolOnce . "homeMachine" "Is this your home machine?" -}}

diff:
  exclude: ["scripts"]
  command: "delta"
  pager: "delta"

status:
  exclude: ["scripts"]

data:
  homeMachine: {{ $homeMachine }}
  workMachine: {{ not $homeMachine }}
  paths:
    cache: {{ .chezmoi.homeDir }}/.cache
    config: {{ .chezmoi.homeDir }}/.config
    local: {{ .chezmoi.homeDir }}/.local
  user:
    name: Scotte Zinn
    {{- if $homeMachine }}
    email: {{ onepasswordRead "op://Private/Scotte Zinn/email" }}
    signingKey: {{ onepasswordRead "op://Private/SSH Key/public key" }}
    {{- else }}
    email: {{ onepasswordRead "op://Faire/Faire/username" }}
    signingKey: {{ onepasswordRead "op://Faire/Faire/ssh-public" }}
    {{- end }}
  vscode:
    neovim: true
