{{ if (eq .chezmoi.os "darwin") }}
.bashrc
{{ end }}

.ansible
.bash_history
.bash_logout
.bash_profile
.cache
.CFUserTextEncoding
.cups
.docker
.DS_Store
.freelens
.fontconfig
.gnupg/.DS_Store
.gnupg/.#*
.gnupg/common.conf
.gnupg/private-keys-v1.d
.gnupg/public-keys.d
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/S.gpg-agent
.gnupg/S.gpg-agent.browser
.gnupg/S.gpg-agent.extra
.gnupg/S.gpg-agent.ssh
.gnupg/S.keyboxd
.gnupg/S.scdaemon
.gnupg/trustdb.gpg
.k8slens
.krew
.kube
.lesshst
.local/share
.local/state
.mc/certs
.mc/share
.mozilla
.npm
.orbstack
.profile
.psql_history
.rediscli_history
.rustup
.ssh/1Password
.ssh/agent
.ssh/environment
.ssh/known_hosts
.ssh/known_hosts.old
.swiftpm
.talos
.terminfo
.terraform.d
.Trash
.viminfo
.vnc
.vscode
.wget-hsts
.zsh_history
.zsh_sessions
.zshenv
**/.DS_Store
Applications
Databases
Desktop
Development
Documents
Downloads
Games
go
Google Drive
Hades
Library
Movies
Multimedia
Music
navigraph
Parallels
Pictures
Public
Ragnar
Templates
Videos
