---
diff:
  exclude: ["scripts"]
  command: "delta"
  pager: "delta"

status:
  exclude: ["scripts"]

data:
  paths:
    cache: {{ .chezmoi.homeDir }}/.cache
    config: {{ .chezmoi.homeDir }}/.config
    local: {{ .chezmoi.homeDir }}/.local
  user:
    name: Scotte Zinn
    email: {{ onepasswordRead "op://Private/Scotte Zinn/email" }}
    signingKey: {{ onepasswordRead "op://Private/SSH Key/public key" }}
  vscode:
    neovim: true
