AWS_ACCESS_KEY_ID='{{ onepasswordRead "op://Kubernetes/minio/username" }}'
AWS_SECRET_ACCESS_KEY='{{ onepasswordRead "op://Kubernetes/minio/password" }}'
AWS_REGION='{{ onepasswordRead "op://Kubernetes/minio/AWS_REGION" }}'
AWS_ENDPOINT_URL='http://{{ onepasswordRead "op://Kubernetes/minio/MINIO_SERVER" }}'
