function update-packages --description 'Update dotfiles packages'
  pushd {{ .chezmoi.homeDir }}/.local/share/chezmoi/ansible >/dev/null
  ansible-playbook -e "ansible_user=scotte" main.yaml --tags packages -v
  popd > /dev/null
end
