function update --description="Update everything"
    brewup

    if type -q kubectl-krew
        kubectl-krew update
        kubectl-krew upgrade
    end

    if type -q fisher
        fisher update
    end

    if type -q helm
        for plugin in (helm plugin list | grep -v "VERSION" | awk '{print $1}')
            helm plugin update $plugin
        end
    end

    if type -q rustup
        rustup update
    end

    if type -q nvim
        nvim --headless "+Lazy! sync" +qa >/dev/null 2>&1
        nvim --headless -c 'autocmd User MasonUpdateAllComplete quitall' -c MasonUpdateAll >/dev/null 2>&1
        chezmoi add {{ .paths.config }}/nvim
    end
end
