#!{{ lookPath "bash" }}

{{ if .brew }}
if [ ! "$(command -v brew)" ]; then
  echo "Installing brew..."
  {{ lookPath "bash" }} -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end }}
