#!/usr/bin/env bash

if [[ -L "{{ .chezmoi.homeDir }}/Library/Application Support/DEVONthink 3/Templates.noindex/HiveMind" ]]; then
  echo "DEVONthink templates already linked"
else
  ln -s "{{ .chezmoi.homeDir }}/.config/devonthink/HiveMind" "{{ .chezmoi.homeDir }}/Library/Application Support/DEVONthink 3/Templates.noindex/HiveMind"
fi
