#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------------------------------------
# Install Homebrew packages
# homebrew/brewfile hash: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}
# chezmoi configuration hash: {{ include ".chezmoi.yaml.tmpl" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------
export HOMEBREW_CASK_OPTS=--no-quarantine
echo "Running brew bundle"
brew bundle --all --file "{{ .paths.config }}/homebrew/Brewfile"

echo "Running brew cleanup"
brew cleanup --prune=all

echo "Running brew bundle cleanup"
brew bundle cleanup --all --file "{{ .paths.config }}/homebrew/Brewfile" || true
