#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------------------------------------
# Install cargo applications
# cargo applications hash: {{ include "dot_cargo/cargo_apps" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------

if test -n "$(command -v cargo)"; then
  if ! test -n "$(command -v cargo-binstall)"; then
    cargo install cargo-binstall
  fi
  for app in $(cat {{ .chezmoi.homeDir }}/.cargo/cargo_apps); do
    if test -z "$(command -v ${app})"; then
      cargo binstall --locked -y ${app}
    fi
  done
fi
