#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------------------------------------
# Install krewfile and packages
# krewfile_plugins hash: {{ include "dot_config/krewfile/krewfile" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------

if test -n "$(command -v kubectl)"; then
  if test -n "$(command -v go)"; then
    go install github.com/brumhard/krewfile@latest

    kubectl krew update
    {{ .chezmoi.homeDir }}/.go/bin/krewfile -command "kubectl krew" -file {{ .paths.config }}/krewfile/krewfile -upgrade
  fi
fi
