#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------------------------------------
# Install cargo applications
# cargo applications hash: {{ include "dot_cargo/cargo_apps" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------

if test -n "$(command -v cargo)"; then
  for app in $(cat {{ .chezmoi.homeDir }}/.cargo/cargo_apps); do
    if test -z "$(command -v ${app})"; then
      cargo install --locked ${app}
    fi
  done
fi
