#!/usr/bin/env fish

echo "Updating completions..."
if type -q chezmoi
    chezmoi completion fish --output ~/.config/fish/completions/chezmoi.fish
end
if type -q flux
    flux completion fish > ~/.config/fish/completions/flux.fish
end
if type -q helm
    helm completion fish > ~/.config/fish/completions/helm.fish
end
if type -q kustomize
    kustomize completion fish > ~/.config/fish/completions/kustomize.fish
end
if type -q kubectl
    kubectl completion fish > ~/.config/fish/completions/kubectl.fish
end
if type -q talosctl
    talosctl completion fish > $__fish_config_dir/completions/talosctl.fish
end
if type -q talhelper
    talhelper completion fish > $__fish_config_dir/completions/talhelper.fish
end
if type -q k9s
    k9s completion fish > $__fish_config_dir/completions/k9s.fish
end
if type -q task
    curl --silent --show-error https://raw.githubusercontent.com/go-task/task/master/completion/fish/task.fish > $__fish_config_dir/completions/task.fish
end
