{{- onepasswordRead "op://Private/SSH Key/username" }} {{ onepasswordRead "op://Private/SSH Key/public key" -}}
{{- onepasswordRead "op://Private/SSH Key/username" }} {{ onepasswordRead "op://Private/Github Signing Key/public key" -}}
