Host *
  UseKeychain yes
  AddKeysToAgent yes
{{- if (eq .chezmoi.os "darwin") }}
  # This will require 1Password to be unlocked to perform as the identity agent.
  # With TouchId, not easily done when remoting in.
  # IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

Host zeus
  user = root

Host styx
  user = root

Host octopi
  user = pi

Host github.com
  hostname = "ssh.github.com"
  port = 443
  user = "ssh.github.com"

Host pikvm
  user = root

Host pione
  user = pi

Host ares
  user = root

Host magized.com
  user = mailu

Host hera
  user = scotte

Host titan
  user = scotte

Include /Users/scotte/.config/colima/ssh_config
