Host *
  ControlMaster auto
  ControlPath ~/.ssh/controlmasters/ssh-%r@%h:%p
  UseKeychain yes
  AddKeysToAgent yes
{{- if (eq .chezmoi.os "darwin") }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

Host zeus
  user = root

Host styx
  user = root

Host octo
  user = pi

Host github.com
  hostname = "ssh.github.com"
  port = 443
  user = "ssh.github.com"

Host pikvm
  user = root

Host ares
  user = root

Host magized.com
  user = mailu
