# App
auto-update = download
auto-update-channel = stable
quit-after-last-window-closed = true

# Font
font-family = ""
font-family = FiraCode Nerd Font
font-family-bold = FiraCode Nerd Font Bold
font-family-bold-italic = FiraCode Nerd Font Bold Italic
font-family-italic = FiraCode Nerd Font Italic
font-size = 11

# MacOS settings
macos-auto-secure-input = true
macos-secure-input-indication = true
macos-titlebar-style = hidden
shell-integration = fish
shell-integration-features = no-cursor
clipboard-trim-trailing-spaces = true
macos-option-as-alt = true

# Theme
theme = dracula-pro-van-helsing

# Window
# better colors
adjust-cell-height = -12%
# better colors
window-colorspace = display-p3
confirm-close-surface = false
cursor-style = block
cursor-style-blink = false

{{ if (eq .chezmoi.os "darwin") }}
window-decoration = false
window-height = 80
window-width = 180
{{ end }}

{{ if (eq .chezmoi.os "linux") }}
window-height = 35
window-width = 150
{{ end }}
