auto_sync = true
ctrl_n_shortcuts = true
filter_mode = "workspace"
{{- if ne .chezmoi.hostname "argos" }}
search_mode = "daemon-fuzzy"
{{- end }}
{{- if .homeMachine }}
sync_address = "https://atuin.zinn.ca"
{{- end }}
update_check = false
workspaces = true
history_filter = [
  "^/opt/homebrew/bin/jj",
  "^cd",
  "^chezmoi",
  "^cm",
  "^gst$",
  "^ll",
  "^ls",
  "^x$",
]

[sync]
records = true

{{- if ne .chezmoi.hostname "argos" }}
[daemon]
enabled = true
autostart = true
{{- end }}
