[[session]]
name = "Main"
path = "{{ .chezmoi.homeDir }}"

[[session]]
name = "K8s HomeLab"
path = "{{ .chezmoi.homeDir }}/Development/Projects/k8s-homelab"

[[session]]
name = "Dotfiles"
path = "{{ .paths.local }}/share/chezmoi"
