[[session]]
name = "Main"
path = "{{ .chezmoi.homeDir }}"

[[session]]
name = "Dotfiles"
path = "{{ .paths.local }}/share/chezmoi"
startup_command = "tmux split-window -l 20 && tmux select-pane -t 1 && clear"

{{- if .homeMachine }}
[[session]]
name = "HomeLab"
path = "{{ .chezmoi.homeDir }}/Development/Projects/k8s-homelab"
startup_command = "tmux split-window -l 20 && tmux select-pane -t 1 && clear"

[[session]]
name = "Devin's HomeLab"
path = "{{ .chezmoi.homeDir }}/Development/PublicRepos/onedr0p-home-ops"

[[session]]
name = "Bernd's HomeLab"
path = "{{ .chezmoi.homeDir }}/Development/PublicRepos/bjw-home-ops"

[[session]]
name = "Bernd's Dotfiles"
path = "{{ .chezmoi.homeDir }}/Development/PublicRepos/bjw-dotfiles"
{{- end }}

{{ if .workMachine }}
[[session]]
name = "Backend"
path = "{{ .chezmoi.homeDir }}/faire/backend"
startup_command = "tmux split-window -l 10 && tmux select-pane -t 1 && clear"
{{- end }}

