if test -d "{{ .chezmoi.homeDir }}/Development/Projects/IssueBoss"
    abbr --add -- ib '{{ .chezmoi.homeDir }}/Development/Projects/IssueBoss/target/debug/issueboss'
    abbr --add -- insights '{{ .chezmoi.homeDir }}/Development/Projects/IssueBoss/target/debug/insights'
end

