if type -q op
    abbr --add -- opnt 'set -x OP_BIOMETRIC_UNLOCK_ENABLED false'
    abbr --add -- opt 'set -e OP_BIOMETRIC_UNLOCK_ENABLED'
    # Ideally, use 1Password's ssh-agent, however it requires authentication
    # by a popup dialog
    # set -gx SSH_AUTH_SOCK "{{ .chezmoi.homeDir }}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
end
