set -gx EDITOR "nvim"
set -gx GNUPGHOME "{{ .chezmoi.homeDir }}/.gnupg"
set -gx KREW_ROOT "{{ .chezmoi.homeDir }}/.krew"
set -gx LANG "en_US.utf-8"
set -gx MANPAGER "nvim +Man!"
set -gx RIPGREP_CONFIG_PATH "{{ .chezmoi.homeDir }}/.config/ripgrep/ripgreprc"
set -gx SOPS_AGE_KEY_FILE "{{ .chezmoi.homeDir }}/.config/sops/age/keys.txt"

set -gx XDG_CACHE_HOME "{{ .chezmoi.homeDir }}/.cache"
set -gx XDG_CONFIG_HOME "{{ .chezmoi.homeDir }}/.config"
set -gx XDG_CONFIG_LOCAL "{{ .chezmoi.homeDir }}/.local"
set -gx XDG_DATA_HOME "$XDG_CONFIG_LOCAL/share"
set -gx XDG_STATE_HOME "$XDG_CONFIG_LOCAL/state"
