{{ if (eq .chezmoi.os "darwin") -}}
  fish_add_path /opt/homebrew/bin
{{ end -}}

{{ if (eq .chezmoi.os "linux") -}}
  fish_add_path /home/linuxbrew/.linuxbrew/bin
{{ end -}}

set HOMEBREW_PREFIX (brew --prefix)

for package in gnu-sed findutils coreutils grep make
  if test -d "$HOMEBREW_PREFIX/opt/$package/libexec/gnubin"
    fish_add_path "$HOMEBREW_PREFIX/opt/$package/libexec/gnubin"
  end
end
for package in m4 curl postgresql@16
  if test -d "$HOMEBREW_PREFIX/opt/$package/bin"
    fish_add_path "$HOMEBREW_PREFIX/opt/$package/bin"
  end
end

if test -d "$HOMEBREW_PREFIX/share/fish/completions"
  set -gx fish_complete_path $fish_complete_path "$HOMEBREW_PREFIX/share/fish/completions"
end

if test -d "$HOMEBREW_PREFIX/share/fish/vendor_completions.d"
  set -gx fish_complete_path $fish_complete_path "$HOMEBREW_PREFIX/share/fish/vendor_completions.d"
end
