# eza setup
# Requires `brew install eza`
if type -q eza
  if status --is-interactive
    alias ls '{{ lookPath "eza" }} --group --icons'
    alias ll '{{ lookPath "eza" }} --group --icons -l'
    alias la '{{ lookPath "eza" }} --group --icons -a'
    alias lt '{{ lookPath "eza" }} --group --icons --tree'
    alias lla '{{ lookPath "eza" }} --group --icons -la'
  end
end
